<!DOCTYPE html>
<html>
<head>
    <title>server send event Demo</title>
    <script type="text/javascript">
            if(!!window.EventSource){
                console.log('sse OK');
                var source = new EventSource('/test/sse');
                source.addEventListener('message',function (event) {
                    console.log('sse result:',event.data);
                });
                //自定义事件
                source.addEventListener('end',function (event) {
                        console.log('*******',event.data);
                        source.close();
                });
                source.addEventListener('open',function (event) {
                    console.log('sse open:',event);
                });
                source.addEventListener('error',function (err) {
                    console.log('sse error:',err);
                    source.close();
                });

                //source.readyState   0 connecting ,1 open, 2 closed
                //source.close();

            }else{
                console.warn('sse not be supported******');
            }

    </script>
</head>
<body>
    hello worlds
</body>
</html>